* {
  font-family: Inder;
  color: #525252;
  overflow: visible;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-group {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.title {
  font-size: 25px;
  margin: 10px 5px;
}

.img-title-group {
  display: flex;
  align-content: center;
}

.sub-title {
  font-size: 16px;
  margin: 0 5px 5px 5px;
}

.table-of-contents {
  margin-bottom: 5%;
  list-style: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
}

.title2 {
  font-size: 25px;
  margin: 2% 0;
}

.player-ul {
  display: flex;
  flex-wrap: wrap;
}

.league-parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: overlay;
}

.league-text {
  /* margin: 10px 0; */
  text-align: center;
}

.league-data-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: overlay;
}

.player-parent-div {
  display: flex;
  flex-direction: column;
  
}

.player-data-area {
  margin-left: 25%;
  overflow: overlay;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.player-parent-div {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.players-chart-title-group {
  display: flex;
  flex-direction: column;
}

.players-chart-title {
  margin: 2% 0;
  font-size: 25px;
  text-align: center;
}

.players-chart-subtitle {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 2%;
}

.top-25-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}


.goals-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.goals-label {
  font-size: 15px;
}

.popularity-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
}

.label-2 {
  font-size: 12px;
}

.value-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.value-data-area {
  text-align: center;
}

.cards-parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cards-data-container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.club-cards-label {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 175px;					
  height: 50px;					
  padding: 2px;				
  font-size: 20px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;		
  display: flex;
  justify-content: center;	
  align-items: center;
}

div.force-tooltip {
  position: absolute;			
  text-align: center;			
  width: 320px;					
  height: 50px;					
  padding: 2px;				
  font-size: 20px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;		
  display: flex;
  justify-content: center;	
  align-items: center;
}

div.card-force-tooltip {
  position: absolute;			
  text-align: center;			
  width: 200px;					
  height: 50px;					
  padding: 2px;				
  font-size: 20px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;		
  display: flex;
  justify-content: center;	
  align-items: center;
}

.club-label {
  font: 11px sans-serif;
  pointer-events: none;
  z-index: 100000;
  font-size: 30px;
  font-weight: 700;
}

.cards-section-label {
  margin: 5% 0 2% 0;
  font-size: 25px;
  text-align: center;
}

.top-4-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.bottom-4-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.top-bottom-label {
  margin-bottom: 50px;
}

.club-card-button-container {
  display: flex;
  padding-top: 35px;
  margin: auto;
  width: 20%;
  justify-content: space-around;
}

.club-card-button {
  border: none;
  height: 30px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;
}

.club-cards-data-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: overlay;
}

