* {
  font-family: Inder;
  color: #525252;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 30px;
}

.title2 {
  font-size: 20px;
}

.player-ul {
  display: flex;
  flex-wrap: wrap;
}

.league-parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: overlay;
}

.league-text {
  margin: 10px 0;
}

.league-data-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20%;
  text-align: center;
  overflow: overlay;
}

.player-parent-div {
  display: flex;
  flex-direction: column;
}

.player-data-area {
  margin-left: 25%;
  overflow: overlay;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.player-parent-div {
  display: flex;
  flex-direction: column;
  height: 800px;
  /* flex-wrap: wrap */
}

.players-chart-title {
  margin: 10%;
  font-size: 25px;
  text-align: center;
}

.top-25-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}


.goals-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.goals-label {
  font-size: 15px;
}

.popularity-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
}

.label-2 {
  font-size: 12px;
}

.value-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.value-data-area {
  text-align: center;
}

.cards-parent-div {
  display: flex;
  flex-direction: column;
}

.cards-data-container {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}


div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 175px;					
  height: 50px;					
  padding: 2px;				
  font-size: 20px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;		
  display: flex;
  justify-content: center;	
  align-items: center;
}

div.force-tooltip {
  position: absolute;			
  text-align: center;			
  width: 320px;					
  height: 50px;					
  padding: 2px;				
  font-size: 20px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;		
  display: flex;
  justify-content: center;	
  align-items: center;
}

.club-label {
  font: 11px sans-serif;
  pointer-events: none;
  z-index: 100000;
  font-size: 30px;
  font-weight: 700;
}

.cards-section-label {
  margin: 20px 0;
  font-size: 25px;
  text-align: center;
}

.cards-section-sublabel {
  margin-bottom: 5%;
  font-size: 15px;
  text-align: center;
}

.cards-section-sublabel2 {
  margin-bottom: 10%;
}

.top-4-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.bottom-4-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.top-bottom-label {
  margin-bottom: 50px;
}


